body{
    margin: auto;
    width: 35%;
    background-color: white;
}

img{
   
    background-image: url("C:\Users\Stephanie\vs-wdd\wdd230\image\210426fb-e4f5-4094-8b33-7062f911a87b.jpeg");
    float: left;
    margin-bottom: -10px;
}

h1{
    
    border: 1px black;
    padding: 25px;
    color: dimgrey;
    background-color: lightblue;
    height: 120px;
    margin-bottom: -10px;
    text-align: right;

}
p{ 
    padding: -10px;
   
}


h2{
    text-align: left;
}

h3{
    text-align: left; 
    font-size: 12px;
}

h4{
    text-align: center;
    border: 1px black;
    padding: 20px;
    color:dimgrey;
    background-color: lightblue;
    height: 40px;
}
